<% if collection.present? %>
  <h2><%= t('headings') %></h2>
  <ul>
  <% collection.each do |heading| %>
    <li><%= show_item(heading.heading_type, ["[", "] "]) %><%= ", " + heading.name %><%= heading.qualifier if heading.qualifier.present? %></li>
  <% end %>
  </ul>
<% end %>